<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Detail Drawer Overlay -->
<div th:fragment="drawer">
    <div id="vocabDrawer"
        class="absolute inset-y-0 right-0 w-[500px] bg-white shadow-[0_0_15px_rgba(0,0,0,0.1)] transform translate-x-full transition-transform duration-300 ease-in-out flex flex-col z-20 border-l border-gray-100">
        <div class="p-4 border-b flex items-center gap-3 bg-white">
            <button onclick="closeDrawer()" class="text-gray-400 hover:text-gray-800 transition"><i
                    class="fa fa-times text-lg"></i></button>
            <h3 class="font-semibold text-gray-800">Vocabulary Details</h3>
        </div>
        <div class="p-8 overflow-y-auto flex-1 font-sans" id="drawerContent">
        </div>
    </div>
</div>
</html>
